## .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db

## Rider / VS Code
.idea/
.vscode/

## NuGet
*.nupkg
packages/

## appsettings
appsettings.json
appsettings.Development.json
